h1 a {
    color: #C25100;
    font-family: 'Lobster';
}

.page-header {
    background-color: #f5f5f5;
    margin-top: 0;
    padding: 20px 0;
}

.post {
    margin-bottom: 40px;
}

.post h2 a {
    color: #C25100;
}

.date {
    color: #828282;
}
